* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

 /*-------------css reset is over-----------*/

 section {
     height: 100vh;
     width: 100%;
     font-family: 'Shippori Antique B1', sans-serif;
 }

 /*---------------------------------------------GRID---------------------------------------------------*/


 #jan, #febr, #marc, #apr, #may, #june {
     display: grid;
     grid-template-columns: repeat(7, 200px);
     grid-template-rows: repeat(5, 180px);
     justify-content: space-evenly;
     gap: 10px;
    }
    
/*-------------------------JANUARY----------------------------*/
    
#jan div {
    display: grid;
    background-color: #DBFBCC;
    color: #16421C;
    text-align: center;
    align-items: center;
    opacity: 0.8;     
    border-radius: 10%;
    box-shadow: 20px 20px 50px grey;
}

 #jan {
     /*background-color: #00a7ae;*/
     background-image: url("pattern3.png");
     background-size: ccontent;
     padding-top: 15px;

 }

 #jan div time:nth-child(1) {
     font-size: 25px;

 }
 
 /*-------------------------FEBRUARY----------------------------*/
 
 #febr div {
     display: grid;
     background-color: #A1E0BC;
     color: #16421C;
     text-align: center;
     align-items: center;
     padding: 50px 0;
     opacity: 0.8;     
     border-radius: 10%;
     box-shadow: 20px 20px 50px grey;
 }
 
  #febr {
      background-color: #DBFBCC;
      justify-content: left;
      padding-top: 110px;
 
  }
 
  #febr div time:nth-child(1) {
      font-size: 25px;
 
  }
  /*-------------------------MARCH----------------------------*/
  
  #marc div {
      display: grid;
      background-color: #00A7AE;
      color: #DBFBCC;
      text-align: center;
      align-items: center;
      padding: 50px 0;
      opacity: 0.8;     
      border-radius: 10%;
      box-shadow: 20px 20px 50px grey;
  }
  
   #marc {
       background-color: #DBFBCC;
       justify-content:center;
   }
  
   #marc div time:nth-child(1) {
       font-size: 25px;
  
   }
   
   /*-------------------------APRIL----------------------------*/
  #apr div {
      display: grid;
      background-color: #16421C;
      color: #DBFBCC;
      text-align: center;
      padding: 50px 0;

      border-radius: 10%;
      box-shadow: 20px 20px 50px grey;
  }
  
  #apr {
      background-color: #DBFBCC;
      justify-content:right;
  }
  
  #apr div time:nth-child(1) {
      font-size: 25px;
  
  }
     /*------------------------MAY----------------------------*/

  #may div {
    display: grid;
    color: #16421C;
    background-color: #DBFBCC;
    text-align: center;         
    border-radius: 10%;
    padding-top: 20px;
  } 

  #may {
      background-color: #16421C;
      justify-content: space-between;
      padding-top: 20px;
  }

  #may div time:nth-child(1) {
      font-size: 25px;

  }

 /*------------------------JUNE----------------------------*/

#june div {
  display: grid;
  background-color: #DBFBCC;
  color: #16421C;
  text-align: center;
  border-radius: 10%;
  box-shadow: 20px 20px 50px grey;
  gap: 40px 0;
}

#june {
    background-color: #DBFBCC;
    gap: 20px;
  
}

#june div time:nth-child(1) {
    font-size: 25px;

}
    /*---------------------------------------------FLEX---------------------------------------------------*/



 #july, #aug, #sept, #oct, #nov {
     display: flex;
 }